@font-face {
	font-family: 'Orbitron';
	src: url(../assets/Orbitron-Medium.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Orbitron';
	src: url(../assets/Orbitron-Bold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Orbitron';
	src: url(../assets/Orbitron-ExtraBold.ttf);
	font-weight: 800;
}